body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 11;
}

.navbar-brand {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: white!important;
}

.navbar {
    background: rgba(158, 231, 255, 0.5);
}

@media screen and (width: 1024px) {
.navbar {
    display: block;
    background: rgb(255, 30, 0);
}
.d-block {
    height: 30px;
}
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: black!important;
    font-weight: 500;
    font-size: 16px;
}

#slider {
    width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h5 {
    color: white;
    font-size: 42px;
    font-weight: 600;
}

#news {
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}

.d-block {
    height: 1026px;
}

#news button {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: rgb(255, 255, 255);
}

#news button:hover {
    background-color: rgba(158, 236, 255, 0.808);
    transition: 0.7s;
}

.col-md-5 button {
    margin-left: 30px;
}

.latest-video {
    padding-top: 20px;
}

.col-md-5 h4 {
    margin-top: 160px;
    margin-left: 30px;
}

.news-description p {
    margin-left: 30px;
}

#aboutme {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/Banner-Stock-Photos-by-Megapixl.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#aboutme h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;

}

#aboutme h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.col-md-3 {
    margin-left: 73px;
}

.aboutme {
    margin-top: 40px;
}

.icon {
    font-size: 30px;
    margin: 20px auto;
    padding: 5px;
    height: 60px;
    width: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#aboutme p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

.row .col-md-3:hover {
    background: #007bff;
    cursor: default;
    transition: 0.3s;
}

.footer {
    position: sticky;
    z-index: 11;
    height: 60px;
    background: rgba(158, 231, 255, 1)
}

.footer p {
    text-align: center;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: black;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}